.main_wedo {
  padding: 100px 0 70px;
}

.main_wedo_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.main_wedo_item {
  text-align: center;
  padding: 15px;
}

.main_wedo_img {
  border-radius: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
  margin-bottom: 24px;
}

.main_wedo_img img {
  border-radius: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
  margin-bottom: 24px;
}

.main_wedo_title {
  /* font-family: 'GothamProBold'; */
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 9px;
}

.main_wedo_text {
  font-size: 16px;
}