@import "./footer.css";
@import "./header.css";
@import "./actions.css";
@import "./info.css";
@import "./achievements.css";
@import "./products.css";
@import "./partners.css";
@import "./contacts.css";

*,
::after,
::before {
  box-sizing: border-box
}

html {
  /* font-family: sans-serif; */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1A2A42;
  text-align: left;
  background-color: #fff;
  min-width: 350px;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

dt {
  font-weight: 700
}

dd {
  margin-bottom: .5rem;
  margin-left: 0
}

blockquote {
  margin: 0 0 1rem
}

b,
strong {
  font-weight: bolder
}

small {
  font-size: 80%
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #0056b3;
  text-decoration: underline
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem
}

img {
  vertical-align: middle;
  border-style: none
}

svg {
  overflow: hidden;
  vertical-align: middle
}

table {
  border-collapse: collapse
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent
}

label {
  display: inline-block;
  margin-bottom: .5rem
}

button {
  border-radius: 0
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[role=button] {
  cursor: pointer
}

select {
  word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

textarea {
  overflow: auto;
  resize: vertical
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal
}

progress {
  vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

output {
  display: inline-block
}

summary {
  display: list-item;
  cursor: pointer
}

template {
  display: none
}

[hidden] {
  display: none !important
}

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}
  
/*------------⚞	media 1600	⚟------------*/

@media all and (max-width:1600px) {

  .header_login {
    margin-left: 30px;
  }

  .header_phone {
    margin-left: 30px;
  }

  .main_catalog:before {
    width: 259px;
  }

  .main_catalog:after {
    width: 376px;
  }

  .main_news:before {
    width: 222px;
  }

  .main_news:after {
    width: 282px;
  }

  .footer_left {
    left: 0;
  }

}

/*------------⚞	media 1400	⚟------------*/

@media all and (max-width:1400px) {
  header {
    height: 800px;
  }

  .header {
    padding: 30px;
  }

  .header_login {
    margin-left: 20px;
  }

  .header_phone {
    margin-left: 20px;
  }

  .header_phone a {
    font-size: 20px;
  }

}

/*------------⚞	media 1300	⚟------------*/

@media all and (max-width:1300px) {

  .header_login a {
    padding-left: 40px;
  }

  .footer_nav {
    min-width: 302px;
    max-width: 302px;
  }

  .main_wedo_row,
  .main_catalog_row {
    /* margin: 0 -15px; */
  }

  .main_wedo_item,
  .main_catalog_item {
    padding: 15px;
  }
}

/*------------⚞	media 1199	⚟------------*/

@media all and (max-width:1199px) {
  header {
    height: 675px;
  }

  .main_news_img {
    width: 700px;
    height: 585px;
    bottom: -104px;
    right: -170px;
  }

  footer {
    padding: 40px 0;
  }

  .footer_logo img {
    margin-right: 20px;
  }

  .footer_left {
    min-width: initial;
    max-width: initial;
    display: flex;
    margin-bottom: 30px;
    position: relative;
  }

  .footer_right {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }

  .footer_button {
    max-width: 327px;
    min-width: initial;
  }

  footer .container {
    flex-direction: column;
    max-width: 661px;
  }

  .footer_copyright {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateX(50%) translateY(-50%) rotate(-90deg);
  }

  .header_login {
    display: none;
  }

  .header_right {
    flex-direction: column;
  }

  .header_phone:first-child {
    margin-bottom: 6px;
  }

  .header_phone div {
    margin-bottom: 4px;
  }

  .office_top .block_list ul:nth-child(1) {
    width: 340px;
  }

  .office_top .block_list ul:nth-child(2) {
    width: 340px;
  }

  .gost_row {
    margin: 0 -15px;
  }

  .gost_col {
    padding: 0 15px;
  }

  .docs_row {
    margin: 0 -15px;
  }

  .docs_col {
    padding: 0 15px;
  }

  .documents .main:after {
    width: 871px;
    height: 835px;
  }

  .documents .main:before {
    display: none;
  }

}

/*------------⚞	media 991	⚟------------*/

@media all and (max-width:991px) {
  .main_wedo {
    padding: 50px 0;
  }

  .main_wedo_title {
    /* font-family: 'GothamProBold'; */
    font-size: 18px;
  }

  .main_wedo_text {
    font-size: 14px;
  }

  .main_about_title br,
  .main_about_text br {
    display: none !important;
  }

  .block_list_title {
    font-family: 'GothamProBold';
    font-size: 17px;
  }

  .block_list ul li a {
    padding-left: 22px;
  }

  .block_list ul {
    font-size: 16px;
  }

  .main_about {
    height: auto;
    padding-bottom: 160px
  }

  .main_catalog {
    padding: 54px 0;
  }

  .main_partners_item {
    padding: 0 10px
  }

  .main_partners_item img {
    max-width: 100%;
    height: auto;
  }

  .main_partners {
    padding: 50px 0;
  }

  .main_news {
    padding: 50px 0;
    margin: 0;
  }

  .main_logo {
    width: 737px;
  }

  .main_logo_text {
    padding-left: 33px;
  }

  .main_logo_b {
    font-size: 60px;
  }

  .main_logo_s {
    font-size: 22px;
  }

  .header_desc {
    font-size: 10px;
    display: none;
  }

  .page .header_desc {
    display: none;
  }

  .catalog_list .block_list {
    width: 344px;
  }

  .catalog_list {
    padding: 50px 0;
  }

  .modal_product {
    padding: 30px;
  }

  .modal_product_desc,
  .modal_product_price {
    width: 240px;
    min-width: 240px;
  }

  .modal_product_fullprice {
    width: 220px;
    min-width: 220px;
  }

  .office_top .block_list ul:nth-child(1) {
    width: 250px;
  }

  .office_top .block_list ul:nth-child(2) {
    width: 250px;
  }

  .office_item {
    padding: 20px;
  }

  .office_item_top {
    font-size: 12px;
  }

  .gost_title {
    margin-top: 0;
  }

  .gost_row {
    margin: 0;
    flex-direction: column;
  }

  .gost_col {
    padding: 0;
    width: 100%;
  }

  .docs_title {
    font-family: 'GothamProBold';
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .docs_row {
    margin: 0;
    flex-direction: column;
  }

  .docs_col {
    padding: 0;
    width: 100%;
  }
}

/*------------⚞	media 767	⚟------------*/

@media all and (max-width:767px) {
  body {
    background: #F1F5F8;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    height: 667px;
  }

  .header {
    padding: 26px;
    height: 100%;
  }

  .header_logo {
    width: 37px;
    height: 58px;
    top: 25px;
    /* background: url(../../../../../../local/templates/imgmet/img/header_logo_mob.png) center no-repeat; */
  }

  .main_logo {
    width: 240px;
    flex-direction: column;
    top: 210px;
    bottom: initial;
  }

  .main_logo_img {
    /* background: url(../../../../../../local/templates/imgmet/img/main_logo.svg); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 123px;
    margin-bottom: 30px;
  }

  .main_logo_text {
    padding: 0;
    text-align: center;
  }

  .main_logo_b {
    /* font-family: 'GothamProRegular'; */
    font-size: 21px;
    top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: initial;
  }

  .main_logo_s {
    font-size: 12px;
    line-height: 14px;
    color: #1488CA;
    font-weight: bold;
    letter-spacing: 2px;
  }

   .header_right {
    position: absolute;
    bottom: 40px;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
  }

  .header_phone {
    display: flex;
    letter-spacing: 2px;
    margin: 0;
  }

  .header_phone:first-child {
    margin-bottom: 12px;
  }

  .header_phone div {
    margin: 0 14px 0 0;
    color: #1488CA;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    text-align: center;
  }

  .header_phone a {
    font-size: 12px;
    font-weight: bold;
  }

  .header_left {
    width: 100%;
  }

  .main_wedo {
    padding: 24px 0;
  }

  .main_wedo_row {
    /* flex-direction: column; */
    /* margin: 0; */
  }

  /* .main_wedo_item {
    width: 100%;
    /* padding: 0; */
    /* text-align: left;
    display: flex;
    align-items: center;
    height: 120px;
    margin-bottom: 12px;
  }  */

  .main_wedo_cont {
    width: 100%;
  }

  /* .main_wedo_img {
    width: 120px;
    min-width: 120px;
    margin: 0 22px 0 0;
    height: 120px;
  } */

  .main_wedo_title {
    /* font-family: 'GothamProBold'; */
    font-size: 18px;
    line-height: initial;
    /* margin-bottom: 12px; */
  }

  .main_wedo_text {
    font-size: 14px;
  }

  /* .main_wedo_item:nth-child(even) {}

  .main_wedo_item:nth-child(even) .main_wedo_img {
    order: 3;
    margin: 0 0 0 22px;
  } */

  .main_about {
    /* background-image: url(../../../../../../local/templates/imgmet/img/main_about_bg_mob.jpg); */
    padding-bottom: 322px;
  }

  .main_about_title {
    font-family: 'GothamProBold';
    margin: 0 0 22px;
    font-size: 16px;
  }

  .main_about_text {
    font-size: 16px;
    line-height: 30px;
  }

  .main_catalog {
    background: #fff;
  }

  .main_catalog_btn {
    display: none;
  }

  .main_catalog_row {
    flex-direction: column;
    margin: 0;
  }

  .main_catalog_item {
    width: 100%;
    padding: 0;
  }

  .main_catalog_img {
    display: none;
  }

  .main_catalog_top {
    margin-bottom: 30px;
  }

  .block_list .block_list_title {
    font-family: 'GothamProBold';
    font-size: 20px;
  }

  .block_list a {
    font-size: 14px;
  }

  .block_list ul li a:before,
  .block_list ul li a:after {
    top: 2px;
  }

  .block_list ul {
    margin: 17px 0 32px 4px;
  }

  .block_list ul li {
    margin: 0 0 6px 0;
  }

  .block_list ul li a {
    padding-left: 33px;
  }

  .main_catalog_btn_mobile {
    display: flex;
  }

  .main_catalog:before,
  .main_catalog:after {
    display: none;
  }

  .main_catalog:after {
    /* background: url(../../../../../../local/templates/imgmet/img/main_catalog_bg_mob.png); */
    width: 133px;
    height: 1205px;
    top: -276px;
    right: 0;
    display: block;
  }

  .main_partners {
    padding: 50px 0 70px;
  }

  .main_partners .block_title {
    text-align: center;
  }

  .main_partners_item {
    width: 50%;
    height: auto;
    margin-bottom: 28px;
  }

  .main_partners_item img {
    max-height: 80px;
  }

  .main_news {
    padding: 76px 0 480px;
  }

  .main_news .block_title {
    text-align: center;
    padding-bottom: 36px;
  }

  .main_news_items {
    width: 100%;
  }

  .main_news:before {
    display: none;
  }

  .main_news_item {
    background-position: top 25px right 30px;
    padding: 20px 66px 20px 24px;
  }

  .main_news_title {
    font-size: 16px;
    line-height: intital;
  }

  .main_news .container {
    position: initial;
  }

  .main_news_img {
    width: 704px;
    height: 693px;
    bottom: -150px;
    z-index: 2;
    left: 61%;
    transform: translateX(-50%);
    right: initial;
  }

  .footer_logo_img {
    /* background: url(../../../../../../local/templates/imgmet/img/footer_logo_img.svg); */
    width: 52px;
    min-width: 52px;
    height: 91px;
    margin-right: 30px
  }

  .footer_logo_text {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
  }

  .footer_logo p {
    margin-bottom: 12px;
  }

  .footer_logo p:last-child {
    margin-bottom: 0;
  }

  .footer_left {
    margin-bottom: 40px;
  }

  .footer_right {
    flex-direction: column;
    width: 100%;
  }

  .footer_nav,
  .footer_button {
    max-width: initial;
    min-width: initial;
    width: 100%;
  }

  .footer_nav {
    margin-bottom: 60px;
  }

  .footer_button .side_polit {
    font-size: 12px;
  }

  .footer_copyright {
    top: 175px;
  }

  .page {
    background: #fff;
  }

  .page header {
    height: 100px;
    /* background: url(../../../../../../local/templates/imgmet/img/bg_header_mob.png) center / cover no-repeat; */
  }

  .header_right {
    /*	display:none;*/
  }

  .catalog_list {
    padding: 32px 0;
  }

  .catalog_list .block_list {
    width: 100%;
    padding-bottom: 0px;
  }

  .news_list {
    margin-top: 0;
    padding: 32px 0;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single {
    height: 38px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    width: 38px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
  }

  .select_brand {
    width: 100%;
  }

  .modal_product {
    padding: 32px;
  }

  .modal_product_title {
    font-family: 'GothamProBold';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 200px;
    line-height: initial;
  }

  .modal_product {
    margin-left: 20px;
    padding-top: 38px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  .modal_product:after {
    top: -36px;
    right: -87px;
    background-size: contain;
    width: 225px;
    height: 114px;
  }

  .modal_product .fancybox-close-small {
    margin: 23px 23px 0 0;
  }

  .modal_product_desc {
    margin-bottom: 8px;
    color: #1A2A42;
  }

  .modal_product_info {
    flex-direction: column;
  }

  .modal_product_desc,
  .modal_product_price,
  .modal_product_fullprice {
    min-width: intitial;
    width: initial;
  }

  .modal_product_left {
    margin-bottom: 14px;
  }

  .modal_product_input {
    margin-bottom: 14px;
  }

  .modal_product_right {
    margin-top: 28px;
  }

  .modal_product_submit,
  .modal_product_submit button {
    width: 100%;
  }

  .office_pc {
    display: none;
  }

  .office_bottom {
    display: none;
  }

  .office_mob {
    display: block;
    background: #F1F5F8;
  }

  .office_mob_items {
    margin-top: 24px;
  }

  .office_item {
    display: none;
    overflow: hidden;
  }

  .office_mob_button {
    text-transform: capitalize;
    height: 66px;
    align-items: center;
    position: relative;
    display: flex;
    padding-right: 20px;
    font-size: 18px;
    border-bottom: 2px solid #dbebf4;
    transition: color 0.5s ease;
  }

  .office_mob_button:after {
    /* background: url(../../../../../../local/templates/imgmet/img/arrow_office.svg) no-repeat center right; */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    display: block;
    width: 10px;
    height: 6px;
  }

  .office_mob_button.active {
    color: #1488CA;
    border: 0;
  }

  .office_mob_button.active:after {
    transform: rotate(180deg);
  }

  .office_item {
    border-radius: 0;
    padding: 20px 30px;
    height: 495px;
  }

  .office_item_top {
    font-size: 12px;
    margin-bottom: 21px;
  }

  .office_item_adress {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .office_item_img {
    min-height: 92px;
    height: 15%;
  }

  .office_item_button {
    /* width:100%; */
  }

  .gost_title {
    display: none;
  }

  .standards {
    background: #F1F5F8;
  }

  .gost_row {
    margin-top: -14px;
  }

  .gost_col .block_title {
    margin-top: 30px;
  }

  .gost_item_icon {
    position: absolute;
    top: 31px;
    right: 36px;
    font-size: 14px;
  }

  .gost_item_icon img {
    margin-left: 14px;
  }

  .standards .main:after {
    /* background: url(../../../../../../local/templates/imgmet/img/bg_ghost_mob.png) center / contain no-repeat; */
    content: '';
    display: block;
    width: 375px;
    height: 804px;
    right: 0;
    left: initial;
    bottom: -517px;
  }

  .docs_title {
    display: none;
  }

  .documents {
    background: #F1F5F8;
  }

  .docs_row {
    margin-top: 24px;
  }

  .documents .main {
    padding-bottom: 400px
  }

  .documents .main:after {
    width: 375px;
    height: 471px;
    bottom: -81px;
    /* background: url(../../../../../../local/templates/imgmet/img/bg_docs_mob.png) center / contain no-repeat; */
  }

  .docs_item_icon {
    position: absolute;
    top: 31px;
    right: 36px;
    font-size: 14px;
  }

  .docs_item_icon img {
    margin-left: 14px;
  }
}

.text_shadow {
  color: white;
  /* background-color: white; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}